---
import Button from '../components/Button.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title='Home'>
  <main>
    <h1 class='p-2'>Lets Build</h1>
    <Button />
  </main>
</Layout>
